{% extends 'shop/basic.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 my-3">
                <img src="/media/{{product.image}}"  width="450px" height="550px">
            </div>
            <div class="col-md-7 my-3 ">
                <h4>{{product.product_name}}</h4><br>
                <p><b>Rs. {{product.price}}</b></p>
                <h5>{{product.desc}}</h5>
            </div>
            <div class="row col-md-5 mx-3">
                <button id="pr{{i.id}}" class="btn btn-primary cart ">Add to Cart</button>
                <div class="col-md-5 mx-3">
                    <button id="" class="btn btn-primary cart ">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}